/* #region BODY */

body {
    text-align: center;
    color: #393d41;
    font-size: 1.2rem;
    font-family: sans-serif;
    line-height: 1.65;
    min-width: 1500px;
  }

  /* #endregion BODY*/

/* #region HEADER*/
  header {
    background-color: black;
    width: 100%;
    padding: 30px 0px 30px;
  }
  
  header > img {
    width: 8em;
    display: block;
    margin-left: 2em;
  }

/* #endregion HEADER */  

/* #region NAV*/

nav {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding: 5em;
  }

nav p{
    padding:1em 10em 2em
}

/* #endregion NAV */

/* #region MAIN*/

main section:first-child{
    width: 100%;
    margin: auto;
    display: flex;
}

main section:first-child img{
    border-radius: 100%;
    margin:5em;
}

main section:first-child div{
    width: 50%;
    margin:0;
}

main section:first-child div:last-child{
    text-align: left;
    margin: 5em;
    padding: 1vh 10vh
}

main section:first-child div:last-child h5{
    padding: 1vh 0vh 0px;

}

main section:nth-child(2)
{
    background-color: #e22d0e;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 50vh
}

main section:last-child{
    display: flex;
    padding:5em
}

main section:last-child div{
    margin: 2em 1em;
    border: solid 0.5px #dee1e3;
    border-radius: 5px;
}

main section:last-child div > img{
    max-height: 15em;
}

/* #endregion MAIN*/

/* #region  FOOTER */
  footer {
    background: #25a2c3;
    color: white;
  }

  footer a {
    color: white;
  }

  footer div{
    margin:auto;
    max-width: 25vh;
  }

  footer p {
    text-align: left;
  }

  footer h2 {
    padding-top: 1em;
    font-size: xx-large;
  }

  footer hr {
    text-align: center;
    width: 95%;
    margin-top: 20px;
  }

  footer p:last-child {
    padding: 1em;
    padding-bottom: 5em;
    color: inherit;
  }

  /*
  footer p:first-child a:last-child {
    text-decoration: none;
  }
  */

/* #endregion FOOTER */

/* #region TAGS*/

h1 {
    font-weight: bold;
    color: #25a2c3;
    font-size: 35px;
    display: block;
    padding: 2vh 5vh 1vh;
    margin: auto;
    line-height: 1;
  }

  h2 {
    font-weight: bold;
    font-size: 25px;
    display: block;
    padding: 2vh 5vh 1vh;
    margin: auto;
    line-height: 1;
  }

  h5 {
    font-weight: bold;
    color: #25a2c3;
    font-size: 20px;
    display: block;
    padding: 4vh 5vh 0px;
    margin: auto;
    line-height: 1;
  }

  p {
    padding: 10px 0px 10px;
  }

  button {
    color: white;
    background-color: #f04c2f;
    display: block;
    margin: auto;
    border-width: 0;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bolder;
    padding: 15px 30px;
    cursor: pointer;
  }

  blockquote {
    font-style: italic;
    font-size: 15px;
    padding: 12px;
  }

  cite {
    font-size: 17px;
    line-height: 0px !important;
    margin-bottom: 0px;
  }

  q {
    font-size: 10px;
  }

/* #endregion TAGS  */